.footer-container {
  color: #fff;

  .footer-sign-up {
    background-color: #282f41;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-sign-up-content {
      display: flex;
      align-items: center;

      .footer-icon {
        background-image: url(./../../../assets/images/logo-2.PNG);
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 150%;
      }

      .footer-content {
        margin-left: 1.5rem;

        .content-head {
          margin-bottom: 1.5rem;
        }

        .content-sub-head {
          font-size: 14px;
        }
      }
    }

    .footer-sign-up-btn-box {
      button {
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 1rem;
        padding: 0.35rem 1rem;
      }
    }
  }

  .footer-base {
    background-color: #1538c8;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-section {
      font-size: 10px;

      .icon {
        background-image: url(./../../../assets/images/logo-2.png);
        display: inline-block;
        height: 10px;
        width: 10px;
        background-size: 200%;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 0.5rem;
      }
    }

    .right-section {
      display: flex;

      button {
        border: none;
        background: none;
        color: white;
        font-size: 10px;
      }
    }
  }
}
