<div class="analyze-input-container">
    <div class="analyze-image"></div>
    <div class="analyze-input-content">
        <h2 class="analyze-input-content-header">Improve your conversions and metrics using Pilo</h2>
        <div class="analyze-input-content-text">
            Piio automatically understands the context of your users and provide the best possible experience for them. Forget about resizing or optimizing images for mobile.
        </div>
        <div class="analyze-input">
            <h3 class="input-header">Analyze your Website Images for Free</h3>
            <div class="analyze-input-box">
                <div class="input-box">
                    <input type="text" placeholder="http://yoursite.com">
                </div>
                <button>Analyze</button>
            </div>
        </div>
    </div>
</div>