<div class="analyze-card-container">
    <div class="analyze-sections">
        <div class="section">
            <div class="section-logo"></div>
            <div class="section-header">Cross device experience</div>
            <div class="section-content">
                Don't worry about multiple resolutions or mobile devices, Pilo automatically loads the best image for each device.
            </div>
        </div>
        <div class="section">
            <div class="section-logo"></div>
            <div class="section-header">Automatice Responsive Images</div>
            <div class="section-content">
                We learn from your html and deliver pixel perfect images, they don't only load faster but they'll look better.
            </div>
        </div>
        <div class="section">
            <div class="section-logo"></div>
            <div class="section-header">CDN Deliver</div>
            <div class="section-content">
                With worldwide reach, our CDN provides low latency and faster download times.
            </div>
        </div>
    </div>
    <hr>
    <div class="analyze-card-footer">
        <span class="analyze-card-footer-head">Super easy to integrate!</span>
        <span class="analyze-card-footer-content">
            Copy and paste one code in the html and you're done! You don't need to change anything on your backend or how you store your images. Read our docs <a href="#">here</a>.
        </span>
    </div>
</div>