<div class="how-it-works-container">
  <div class="hiw-content">
    <h2 class="hiw-content-header">How it works</h2>
    <h3 class="hiw-content-sub-header">
      Did we mention it's super easy to integrate?
    </h3>
    <div class="hiw-list-content">
      <ul class="hiw-list">
        <li class="hiw-list-item">
          <span>Register and get the code for your website or app.</span></li>
        <li class="hiw-list-item"><span>Copy our code into your HTML.</span></li>
        <li class="hiw-list-item"><span>Replace in your project. all the image tags your using to use data-pila.</span></li>
        <li class="hiw-list-item"><span>Pilo works great for Single Page Applications but Integrates with any technology.</span></li>
      </ul>
    </div>
    <div class="hiw-tech-stack">
      <span class="hiw-tech-stack-icon angular"></span>
      <span class="hiw-tech-stack-icon vue"></span>
      <span class="hiw-tech-stack-icon react"></span>
    </div>
    <div class="hiw-sign-up-button">
      <button>Sign Up Free</button>
    </div>
  </div>
  <div class="hiw-image"></div>
</div>
